@model IEnumerable<CommonLayer.Response.EmployeeDetailModel>

@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex; margin-top: 10px; justify-content: space-between;">
    <h2>Employee Details</h2>

    <p style="margin-top: 2%;">
        @*@Html.ActionLink("Register", "Register", "Employee")*@
        <a href="@Url.Action("Register", "Employee")" class="btn btn-success">Add User</a>
    </p>
</div>
        <table class="table" style="margin-top: 20px;">
            <tr>
                <th>
                    @Html.DisplayName("NAME")
                </th>
                <th>
                    @Html.DisplayName("GENDER")
                </th>
                <th>
                    @Html.DisplayName("DEPARTMENT")
                </th>
                <th>
                    @Html.DisplayName("SALARY")
                </th>
                <th>
                    @Html.DisplayName("START DATE")
                </th>
                <th>
                    @Html.DisplayName("ACTIONS")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit",new { item.EmpId,item.Name,item.Gender
                    ,item.Department,item.SalaryId,item.StartDate,item.Description})" class="btn btn-success">Edit</a> |
                        <a href="@Url.Action("Delete",new { item.EmpId })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }

        </table>
